
body {
    background-image: url(/img/bird_background.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: top;
    /* position: relative; */
    /* opacity: 0.7; */
    height: 90vh;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

#header h1 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    color: #af460f;
}

#header img {
    width: 10%;
}

.form-group label {
    background-color: #af460f;
    color: #f6eec9;
    border-radius: 7px;
    padding: 0.5rem 0.5rem;
}

#main table .bg-primary {
    color: #ffffff;
}

#player-count {
    font-size: 1.3rem;
}

#footer img {
    width: 4%;
}

#footer a {
    color: #fe8761;
}

#footer a:hover {
    color: #c70d3a;
    text-decoration: none;
}


.page-footer {
    color: #af460f;
    background-color: #f6eec9;
    margin-top: 3rem;
}




.centered{
    margin: 0 auto;
    width:70% 
}

.centered-lg {
    margin: 0 auto;
    width:80% 
}

/* .hidden {
    display: none;
    visibility: hidden;
 
} */